html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}
body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar:horizontal {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(30, 30, 29);        /* color of the tracking area */
}
body::-webkit-scrollbar-track:horizontal {
  background: rgb(30, 30, 29);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(181, 178, 178);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(39, 39, 39);  /* creates padding around scroll thumb */
}
body::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(181, 178, 178);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(39, 39, 39);  /* creates padding around scroll thumb */
}

